@charset "UTF-8";
/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 7, ../scss/style.scss */
html {
  scroll-behavior: smooth; }

/* line 11, ../scss/style.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625; }

/* line 17, ../scss/style.scss */
img {
  width: 100%;
  height: auto; }

/* line 22, ../scss/style.scss */
header {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(46%, #18421b), to(black));
  background: linear-gradient(0deg, #18421b 46%, black 100%); }

/* line 26, ../scss/style.scss */
footer {
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(#18421b));
  background: linear-gradient(0deg, black 0%, #18421b 100%); }

/* line 30, ../scss/style.scss */
header,
footer {
  color: #fff; }
  /* line 33, ../scss/style.scss */
  header * a,
  footer * a {
    color: #fff;
    text-decoration: none; }
  /* line 37, ../scss/style.scss */
  header * li,
  footer * li {
    list-style: none; }

/* line 43, ../scss/style.scss */
a:hover {
  opacity: 0.6; }

/* line 48, ../scss/style.scss */
.icon {
  width: 20px;
  height: 20px; }

/* line 53, ../scss/style.scss */
.container {
  max-width: 1440px;
  width: 100%;
  padding: 15px;
  margin: 0 auto; }

/* line 60, ../scss/style.scss */
.header {
  font-size: 16px;
  padding-left: 56px;
  padding-right: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; }
  /* line 66, ../scss/style.scss */
  .header__item {
    width: 100%;
    max-width: 510px; }
  /* line 70, ../scss/style.scss */
  .header__item:nth-child(2) {
    width: 240px; }
  /* line 73, ../scss/style.scss */
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
    position: relative; }
    /* line 78, ../scss/style.scss */
    .header__box--right {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      position: relative; }
  /* line 83, ../scss/style.scss */
  .header__box:first-child {
    border-bottom: 1px solid #ffdb01; }
  /* line 86, ../scss/style.scss */
  .header__banner {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover; }

/* line 94, ../scss/style.scss */
.main-menu {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 98, ../scss/style.scss */
  .main-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  /* line 102, ../scss/style.scss */
  .main-menu__item {
    padding: 5px 10px;
    cursor: pointer; }

/* line 111, ../scss/style.scss */
.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
/* line 116, ../scss/style.scss */
.logo__img {
  margin-top: 20px;
  width: 180px;
  height: 82px;
  padding: 5px; }

/* line 124, ../scss/style.scss */
.inline-b {
  display: inline-block; }

/* line 128, ../scss/style.scss */
.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  /* line 132, ../scss/style.scss */
  .lang__switcher {
    margin-left: 5px; }

/* line 137, ../scss/style.scss */
.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 140, ../scss/style.scss */
  .address__link {
    margin-left: 5px; }

/* line 145, ../scss/style.scss */
.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 148, ../scss/style.scss */
  .phone__link {
    margin-left: 5px; }

/* line 153, ../scss/style.scss */
.work-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 15px; }
  /* line 157, ../scss/style.scss */
  .work-time__text {
    margin-left: 5px; }

/* line 162, ../scss/style.scss */
.search {
  position: absolute;
  right: 0;
  top: 36%; }

/* line 169, ../scss/style.scss */
.burger-menu {
  display: none; }

/* line 174, ../scss/style.scss */
.content__header {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase; }
/* line 179, ../scss/style.scss */
.content__body {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
/* line 185, ../scss/style.scss */
.content__card {
  display: inline-block;
  width: 50%;
  float: none;
  vertical-align: top;
  text-align: left;
  padding: 0 15px; }

/* line 195, ../scss/style.scss */
.card {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }
  /* line 199, ../scss/style.scss */
  .card__title {
    font-size: 18px; }
  /* line 202, ../scss/style.scss */
  .card__descr {
    font-size: 12px; }
  /* line 205, ../scss/style.scss */
  .card__spec {
    font-size: 14px; }
    /* line 207, ../scss/style.scss */
    .card__spec::after {
      content: " г."; }
  /* line 211, ../scss/style.scss */
  .card__price {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 18px; }
    /* line 216, ../scss/style.scss */
    .card__price::after {
      content: " грн"; }

/* line 222, ../scss/style.scss */
.footer {
  padding: 23px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 226, ../scss/style.scss */
  .footer * .logo__img {
    margin: 0; }
  /* line 229, ../scss/style.scss */
  .footer__box {
    max-width: 450px;
    width: 33%;
    padding: 26px 40px; }
    /* line 233, ../scss/style.scss */
    .footer__box:first-child {
      border-right: 1px solid #ffdb01; }
    /* line 236, ../scss/style.scss */
    .footer__box:last-child {
      border-left: 1px solid #ffdb01; }
  /* line 240, ../scss/style.scss */
  .footer__heading {
    text-transform: uppercase; }
  /* line 243, ../scss/style.scss */
  .footer__nav {
    margin: 10px 0; }
    /* line 245, ../scss/style.scss */
    .footer__nav__item {
      padding: 10px 0;
      margin: 15px 0; }
  /* line 250, ../scss/style.scss */
  .footer__map {
    margin: 10px 0; }
  /* line 253, ../scss/style.scss */
  .footer__mapLink {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #fff; }
  /* line 259, ../scss/style.scss */
  .footer__mapImg {
    width: 18px;
    height: 14px; }

@media screen and (max-width: 1220px) {
  /* line 266, ../scss/style.scss */
  .header {
    padding: 0; } }
@media screen and (max-width: 1110px) {
  /* line 272, ../scss/style.scss */
  .address,
  .phone,
  .lang,
  .work-time {
    display: none; }

  /* line 278, ../scss/style.scss */
  .search {
    right: 15%;
    top: 170%; }

  /* line 282, ../scss/style.scss */
  .burger-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 1%; } }
@media screen and (max-width: 992px) {
  /* line 291, ../scss/style.scss */
  .content {
    margin-top: 85px; }

  /* line 294, ../scss/style.scss */
  .header__banner {
    height: 150px; }

  /* line 297, ../scss/style.scss */
  .search {
    right: 20%; }

  /* line 301, ../scss/style.scss */
  .footer {
    padding: 23px 10px; }
    /* line 303, ../scss/style.scss */
    .footer__box {
      max-width: 450px;
      width: 33%;
      padding: 10px 10px; }
    /* line 309, ../scss/style.scss */
    .footer__nav__item {
      padding: 0; }
    /* line 313, ../scss/style.scss */
    .footer__mapLink {
      padding: 7px;
      border: 1px solid #fff; } }
@media screen and (max-width: 768px) {
  /* line 321, ../scss/style.scss */
  .container {
    width: 100%; }

  /* line 324, ../scss/style.scss */
  .content {
    margin-top: 75px; }
    /* line 326, ../scss/style.scss */
    .content__body {
      display: block; }
    /* line 329, ../scss/style.scss */
    .content__card {
      width: 100%; }

  /* line 333, ../scss/style.scss */
  .search {
    right: 30%; }

  /* line 336, ../scss/style.scss */
  .footer {
    padding: 23px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    /* line 340, ../scss/style.scss */
    .footer__box {
      width: 100%;
      padding: 5px 40px; }
      /* line 343, ../scss/style.scss */
      .footer__box:first-child {
        border-right: none; }
      /* line 346, ../scss/style.scss */
      .footer__box:last-child {
        border-left: none; }
    /* line 350, ../scss/style.scss */
    .footer__heading {
      text-transform: uppercase;
      border-bottom: 1px solid #ffdb01;
      text-align: center; }
    /* line 355, ../scss/style.scss */
    .footer__nav {
      margin: 10px 0; }
      /* line 357, ../scss/style.scss */
      .footer__nav__item {
        padding: 10px 0;
        margin: 0; }
    /* line 362, ../scss/style.scss */
    .footer__map {
      margin: 10px 0;
      width: 100%; }
    /* line 366, ../scss/style.scss */
    .footer__mapLink {
      padding: 16px; } }
@media screen and (max-width: 555px) {
  /* line 373, ../scss/style.scss */
  .content {
    margin-top: 55px; }

  /* line 376, ../scss/style.scss */
  .main-menu__item:nth-child(2) {
    display: none; }

  /* line 379, ../scss/style.scss */
  .header__banner {
    height: 100px; }

  /* line 382, ../scss/style.scss */
  .search {
    right: 35%; } }
@media screen and (max-width: 455px) {
  /* line 388, ../scss/style.scss */
  .content {
    margin-top: 35px; }

  /* line 391, ../scss/style.scss */
  .search {
    right: 50%; } }

/*# sourceMappingURL=style.css.map */