/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* line 7, ../scss/style.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625; }

/* line 13, ../scss/style.scss */
header {
  color: black;
  min-height: 150px; }

/* line 18, ../scss/style.scss */
footer {
  background-color: #000;
  padding: 15px;
  color: white; }

/* line 24, ../scss/style.scss */
img {
  width: 100%;
  height: auto; }

/* line 29, ../scss/style.scss */
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 34, ../scss/style.scss */
.header-img {
  background-repeat: no-repeat;
  background-size: 100%; }

/* line 39, ../scss/style.scss */
.container {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  margin: 10px; }

/* line 46, ../scss/style.scss */
.main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  font-weight: 600; }
  /* line 52, ../scss/style.scss */
  .main-menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px; }
  /* line 57, ../scss/style.scss */
  .main-menu__item {
    list-style: none;
    padding: 10px;
    margin: 30px;
    cursor: pointer; }
  /* line 63, ../scss/style.scss */
  .main-menu * a {
    color: #000;
    text-decoration: none; }
    /* line 66, ../scss/style.scss */
    .main-menu * a:hover {
      color: gray; }
    /* line 69, ../scss/style.scss */
    .main-menu * a:active {
      color: black;
      opacity: 0.7;
      font-size: 28px; }

/* line 77, ../scss/style.scss */
.logo {
  width: 150px;
  height: 70px; }
  /* line 80, ../scss/style.scss */
  .logo__header {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 200px;
    height: 90px; }

/* line 90, ../scss/style.scss */
.content__header {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase; }
/* line 95, ../scss/style.scss */
.content__body {
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
/* line 101, ../scss/style.scss */
.content__card {
  display: inline-block;
  width: 50%;
  float: none;
  vertical-align: top;
  text-align: left;
  padding: 0 15px; }

/* line 111, ../scss/style.scss */
.card {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px; }
  /* line 115, ../scss/style.scss */
  .card__title {
    font-size: 18px; }
  /* line 118, ../scss/style.scss */
  .card__descr {
    font-size: 12px; }
  /* line 121, ../scss/style.scss */
  .card__spec {
    font-size: 14px; }
  /* line 124, ../scss/style.scss */
  .card__price {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: 18px; }

/* line 132, ../scss/style.scss */
.icon {
  width: 28px;
  height: auto; }
  /* line 135, ../scss/style.scss */
  .icon-m-l {
    margin-left: 8px; }

/* line 140, ../scss/style.scss */
.wpapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/* line 145, ../scss/style.scss */
.f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  /* line 148, ../scss/style.scss */
  .f__item {
    margin: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    /* line 152, ../scss/style.scss */
    .f__item > a {
      color: white;
      text-decoration: none; }
      /* line 155, ../scss/style.scss */
      .f__item > a:hover {
        color: gray; }
      /* line 158, ../scss/style.scss */
      .f__item > a:active {
        opacity: 0.7;
        font-size: 16px; }

/* line 166, ../scss/style.scss */
.copyright {
  text-align: center;
  margin: 0 10px 10px; }

@media screen and (max-width: 1400px) {
  /* line 172, ../scss/style.scss */
  .header-img {
    width: 100%;
    height: auto; } }
@media screen and (max-width: 1090px) {
  /* line 179, ../scss/style.scss */
  .f {
    display: inline-block; }
    /* line 181, ../scss/style.scss */
    .f__item {
      margin: 15px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
@media screen and (max-width: 992px) {
  /* line 191, ../scss/style.scss */
  .header-img {
    position: absolute;
    top: 100px;
    left: 0;
    height: 150px; }

  /* line 198, ../scss/style.scss */
  .logo {
    width: 150px;
    height: 70px; }
    /* line 201, ../scss/style.scss */
    .logo__header {
      top: -85px;
      left: 25px; }

  /* line 207, ../scss/style.scss */
  .main-menu {
    position: absolute;
    top: -75px;
    right: 0px;
    width: 40%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 20px;
    font-weight: 400;
    color: #000; }
    /* line 216, ../scss/style.scss */
    .main-menu__nav {
      padding: 5px; }
    /* line 219, ../scss/style.scss */
    .main-menu__item {
      margin: 0;
      padding: 5px; }
    /* line 224, ../scss/style.scss */
    .main-menu * a:active {
      font-size: 18px; }

  /* line 230, ../scss/style.scss */
  .content {
    margin-top: 85px; } }
@media screen and (max-width: 768px) {
  /* line 236, ../scss/style.scss */
  .container {
    width: 100%; }

  /* line 240, ../scss/style.scss */
  .main-menu {
    font-size: 16px; }
    /* line 243, ../scss/style.scss */
    .main-menu * a:active {
      font-size: 14px; }

  /* line 249, ../scss/style.scss */
  .content {
    margin-top: 75px; }
    /* line 251, ../scss/style.scss */
    .content__body {
      display: block; }
    /* line 254, ../scss/style.scss */
    .content__card {
      width: 100%; }

  /* line 260, ../scss/style.scss */
  .f__item {
    font-size: 14px; } }
@media screen and (max-width: 555px) {
  /* line 267, ../scss/style.scss */
  .content {
    margin-top: 55px; } }
@media screen and (max-width: 455px) {
  /* line 273, ../scss/style.scss */
  .content {
    margin-top: 35px; } }

/*# sourceMappingURL=style.css.map */