* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.625;
}

img {
  width: 100%;
  height: auto;
}

header {
  background: linear-gradient(0deg, rgba(24, 66, 27, 1) 46%, rgba(0, 0, 0, 1) 100%);
}

footer {
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(24, 66, 27, 1) 100%);
}

header,
footer {
  color: #fff;
  & * a {
    color: #fff;
    text-decoration: none;
  }
  & * li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.icon {
  width: 20px;
  height: 20px;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}

.header {
  font-size: 16px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  justify-content: space-evenly;
  &__item {
    width: 100%;
    max-width: 510px;
  }
  &__item:nth-child(2) {
    width: 240px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;
    &--right {
      justify-content: flex-start;
      position: relative;
    }
  }
  &__box:first-child {
    border-bottom: 1px solid #ffdb01;
  }
  &__banner {
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-menu {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding: 5px 15px 5px 10px;
    cursor: pointer;
    position: relative;
    margin: 0 10px;
  }
  &__link {
    &.parent{
      margin: 0px 10px 0 0;
    }
  }
  &__arrow{
    position: absolute;
    top: 40%;
    right: 0;
  }
}

.arrow{
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  &.active{
    transform: rotate(180deg);
  }
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 30px;
  left: 5px;
  background-color: #0C220E;
  padding: 10px;
  border-color: #FFDB01;
  border-style: solid;
  border-width: 1px;
  width: 200px;
  &__item{
    display: block;
    border-bottom: 2px solid #000;
    padding: 5px;
    &:last-child{
      border: none;
    }
  }
}

body.mouse .main-menu {
  &__list {
    &>li:hover .dropdown-menu {
      display: block;
    }
  }
}

body.touch {
  & .dropdown-menu.open{
    display: block;
  }
  & .arrow{
    display: block;
  }
}


.logo {
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img {
    margin-top: 20px;
    width: 180px;
    height: 82px;
    padding: 5px;
  }
}

.inline-b {
  display: inline-block;
}

.lang {
  display: none;
  // display: flex;
  justify-content: flex-start;
  &__switcher {
    margin-left: 5px;
  }
}

.address {
  display: flex;
  align-items: center;
  &__link {
    margin-left: 5px;
  }
}

.phone {
  display: flex;
  align-items: center;
  &__link {
    margin-left: 5px;
  }
}

.mail {
  display: flex;
  align-items: center;
  &__link {
    margin-left: 5px;
  }
}

.work-time {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
  &__text {
    margin-left: 5px;
  }
}

.search {
  display: none;
  position: absolute;
  right: 0;
  top: 36%;
}

.burger-menu {
  display: none;
}

.content {
  &__header {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
  }
  &__body {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

.card {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  width: 50%;
  &__title {
    font-size: 18px;
    max-width: 80%;
    display: inline-block;
    margin-right: 7px;
    &__descr {
      color: gray;
      font-size: 14px;
      margin-left: 10px;
      font-weight: normal;
    }
  }
  &__content {
    display: flex;
  }
  &__info {
    width: 50%;
    font-size: 14px;
  }
  &__price {
    width: 50%;
    &__row {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
    &__col {
      display: flex;
      flex-direction: column;
      &__head,
      &__value {
        margin: 0 5px;
      }
    }

    &__main {
      text-align: center;
      margin-right: 100px;
    }
  }
}

.footer {
  padding: 23px 25px;
  display: flex;
  justify-content: center;
  & * .logo__img {
    margin: 0;
  }
  &__box {
    max-width: 450px;
    width: 33%;
    padding: 26px 40px;
    &:first-child {
      border-right: 1px solid #ffdb01;
    }
    &:last-child {
      border-left: 1px solid #ffdb01;
    }
  }
  &__heading {
    text-transform: uppercase;
  }
  &__nav {
    margin: 10px 0;
    &__item {
      padding: 10px 0;
      margin: 15px 0;
    }
  }
  &__map {
    margin: 10px 0;
  }
  &__mapLink {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #ffdb01;
    margin-bottom: 10px;
  }
  &__mapImg {
    width: 18px;
    height: 14px;
    margin-right: 5px;
  }
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-secondary-color: gray;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: var(--bs-secondary-color);
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}
.breadcrumb-item {
  & > a {
    color: #000;
    text-decoration: none;
  }
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: var(--bs-breadcrumb-item-padding-x);
  & * a {
    color: #000;
  }
}
.breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}
.breadcrumb-item.active {
  color: var(--bs-breadcrumb-item-active-color);
}
.contacts {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__box {
  }
  & * a {
    color: #000;
  }
}
.title {
  &__page {
  }
  &__section {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.work-time-full {
  &__box {
    display: flex;
    align-items: center;
  }
  &__day {
    margin: 5px 0 5px 10px;
  }
}

@media screen and (max-width: 1220px) {
  .header {
    padding: 0;
  }
}

@media screen and (max-width: 1110px) {
  .address,
  .phone,
  .lang,
  .work-time {
    display: none;
  }
  .search {
    right: 15%;
    top: 170%;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 50%;
    right: 1%;
  }
  .header {
    &__box:first-child {
      border-bottom: none;
    }
  }
  .contacts {
    &__box {
      & .address,
      .phone {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .header__banner {
    height: 150px;
  }
  .search {
    right: 20%;
  }

  .card {
    &__title {
      max-width: 70%;
    }
    &__info {
      width: 40%;
    }
    &__price {
      width: 60%;
    }
  }

  .footer {
    padding: 23px 10px;
    &__box {
      max-width: 450px;
      width: 33%;
      padding: 10px 10px;
    }
    &__nav {
      &__item {
        padding: 0;
      }
    }
  }
  .breadcrumb {
    display: none;
  }
  .contacts {
    &__googleMap {
      height: 300px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .content {
    &__body {
      display: block;
    }
    &__card {
      width: 100%;
    }
  }
  .search {
    right: 30%;
  }

  .card {
    width: 100%;
  }

  .footer {
    padding: 23px 25px;
    display: flex;
    flex-wrap: wrap;
    &__box {
      width: 100%;
      padding: 5px 40px;
      &:first-child {
        border-right: none;
      }
      &:last-child {
        border-left: none;
      }
    }
    &__heading {
      text-transform: uppercase;
      text-align: center;
    }
    &__nav {
      margin: 10px 0;
      &__item {
        padding: 10px 0;
        margin: 0;
      }
    }
    &__map {
      margin: 10px 0;
      width: 100%;
    }
    &__mapLink {
      padding: 16px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  content: " ";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  z-index: 1;
}

.toggle-menu {
  appearance: none;

  &:checked {
    ~ nav {
      transform: translateX(0);
    }

    ~ .overlay {
      pointer-events: initial;
      opacity: 1;
    }
  }
}

.mobile {
  display: none;
  &__menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    overflow: hidden;
    width: 400px;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    &__close {
      display: flex;
      justify-content: end;
      &--icon {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 555px) {
  .main-menu__item:last-child {
    display: none;
  }
  .header__banner {
    height: 100px;
  }
  .search {
    right: 35%;
  }

  .card {
    &__info {
      width: 40%;
    }
    &__price {
      width: 60%;
    }
  }
  .contacts {
    &__googleMap {
      height: 200px;
    }
  }
}

@media screen and (max-width: 455px) {
  .search {
    right: 50%;
  }
}

.btn-up {
  position: fixed;
  background-color: #0c200d;
  right: 5%;
  bottom: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  &::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
  }
  &__hide {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #071308;
  }
}
